@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors, Lists
        - Content
        - Ids 
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Content
                - Group selectors
                - #header
                - #Flex-box
                - #Container
                - #Axis
                - #Items
                - Footersss
        
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Screenreader	
        - Color    
        - Margin
--------------------------------------------------------------*/









/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */
* {
       

        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
html {
        font-family: 'Source Sans Pro';

}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

/* ----- TYPOGRAPHY ----- */ 
table th, 
b,
h2,
h3,
#form span {
        font-weight: 700;
}
footer b {
        font-weight: 600;
}
footer li,
td,
p {
        font-weight: 400;
}
h1 span,
header span,
h2 span,
#form {
        font-weight: 300;
}
table span {
        font-weight: 200;
}
footer b,
footer li {
        font-size: 14px;
}
td,
p,
.btn,
b {
        font-size: 16px;
}
header b, 
header li,
#form span,
.col-3 h2,
header h2 span,
h3 {
        font-size: 18px;
}
h1 span,
header span {
        font-size: 30px;
}
h2 {
        font-size: 35px;
}
.bg-image p,
h1{
        font-size: 50px;
}
th {
        font-size: 25px;
}
thead tr:first-child th,
table span{
        font-size: 75px;
}
footer li,
header nav li,
footer section:last-child li {
        list-style: none;
}
header a,
header nav a,
footer a,
.btn,
button {
        text-decoration: none;
}
header a {
        color: #3F3C45;
}

h1,
.bg-image p,
header nav a,
footer a,
.btn,
button,
header .bg-image .wrapper,
header  .hero-blue .wrapper,
header .hero-orange .wrapper,
footer  {
        color: #fff;
}
header ul,
header nav a,
.hero-orange,
.btn,
button {
        background-color: #FE8360;
}
thead .btn,
.btn:hover,
button:hover,
.hero-blue  {
        background: #51CCF8;
}

.hero-orange,
header a,
header .row p:first-child,
header  .hero-blue .wrapper,
header .hero-orange .wrapper,
.hero-blue,
h1 {
        text-align: left;
}
h2 span,
#form,
thead,
tfoot tr:last-child,
.bg-image p  { 
        text-transform: uppercase;
}


/* ----- TYPOGRAPHY messy ----- */ 

.bg-image p span {
        line-height: 55px;
}
p,
ul {
        line-height: 25px;
}


header nav a {
        width: 114px;
        height: 49px;
        padding: 15px 20px;    
}
header ul {
        padding: 10px 0px;
}
header ul,
footer ul {
        padding-left: 0px;
        margin: 0px;
}
p,
h1 {
        margin: 0px;
}
h2,
h3 {
        margin-top: 0px;
}
header .row p:first-child {
        margin-left: 45px;
}
header nav {
        margin: 30px 0px 0px ;
}

main ul {
        padding-left: 10px;
        margin-bottom: 60px;
}
header nav li,
footer section:last-child li {
        display: inline-block;
        
}
footer span {
        color: #B6BCC7;
}
[class*="fa"]  {
        font-weight: 900;
        font-size: 50px;
        line-height: 50px;
        text-transform: uppercase;
        color: #FE8360;
}
h3 {
        margin-bottom: 0px;
        line-height: 23px;
        padding-top: 40px ;
}

/* ----- CONTENT ----- */




/* ----- LISTS ----- */



/* ----- ANCHOR ----- */



/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 1024px;
}

.wrapper {
        margin: 0 auto;
}
.row {
        display: flex;
        justify-content: space-between;
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

/* ----- NAV ----- */




/* ----- CONTENT ----- */

header .bg-image {
        background: url(../img/macbook-pro.jpg) no-repeat;
        background-position: center;
        -o-box-background-size: cover;
        -ms-background-size:cover;
        -webkit-background-size:cover;
        -moz-box-background-size: cover;
        background-size: cover;

        width: 100%;
        /* height: 400px; */
        margin-bottom: 60px;
}
header .bg-image .wrapper,
header  .hero-blue .wrapper,
header .hero-orange .wrapper{
        text-align: center;
        padding-top: 240px;
        padding-bottom: 50px;
}
main .bg-image {
        background: url(../img/windows.jpg) no-repeat;
        -o-box-background-size: cover;
        -ms-background-size:cover;
        -webkit-background-size:cover;
        -moz-box-background-size: cover;
        background-size: cover;

        width: 400px;
        height: 395px;
}
.hosting-body {
        width: 550px;
        
}
main #form .row section {
        width: 200px;
}
#pos-rel > span {
        position: absolute;
        top: -20px;
        left: -25px;
}
.btn,
button {
        padding: 10px 21px; 
        transition: 0.8s;
}
footer [class*="fa"] {
        font-size: 14px;
        color: #B6BCC7;
}
footer > .row {
        justify-content: flex-start;
        margin-top: 70px;
}
footer {
        background-color: #4D515C;
        padding-bottom: 50px;
}
footer li {
        line-height: 155.7%;
}
footer section {
        margin-left: 70px;
}



.hero-blue {
        margin-bottom: 90px;
}
td,
th {
        border-left: #E0DFE1 1px solid;
}
table,
table tbody td{
        border: #E0DFE1 1px solid;
}
table {
        margin-top: 30px;
        border-collapse: collapse;
}



#form {
        background-color: #E7F5F8;
        padding: 70px;
}

select,
button {
        width: 180px;
        height: 49px;
}
input  {
        width: 420px;
        height: 49px;
}




#table {
        margin-top: 80px;
}
table {
        margin: 0 auto;
}

thead tr:nth-child(2) th {
        padding-bottom: 27px;
}
thead tr:last-child th {
        padding-bottom: 60px;
}

thead .btn,
tfoot .btn {
        font-family: 'Lato', sans-serif;
}
tbody td,
tfoot td {
        padding: 15px 0px;
        text-align: center;
}
th p,
tfoot a {
        display: inline-block;
        width: 200px;
}
.col-3 div:last-child {
        width: 250px;
}

/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */
.col-3 {
        width: 330px;
        margin-top: 60px;
}

#pos-rel {
        position: relative;
        top: 0;
        left: 0;
}
/* ----- SCREENREADER ----- */
.sr-only {
        position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
/* 

  /* ----- COLOR ----- */


  /* ----- UNIVERSAL ----- */

 